body {
    font-family: Ubuntu;
}

.right {
    float: right;
}

button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #f1f1f1;
}

button:focus {
    font-weight: bold;
}

img {
    width: 350px;
    float: left;
}