.container {
    padding: 0.5rem 1rem 4rem 1rem;
}

form {
    margin-bottom: 2rem;
    margin: 30px auto;
    width: 600px;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-item label {
    margin-bottom: 0.2rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border-right: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}